.header {
    padding: 10px 50px 10px 30px;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    width: 100vw;
    font-size: 35px;
    line-height: 21px;
    margin: 0;
    color: #006ac3;
}